




body {
	background-color: rgb(244, 243, 238);
}

img{
	width: 200px;
 	height: 200px;
 	object-fit: cover;
 	margin: 35px;
}



.intro{
	position: relative;
	top:0px;
	left: 100px;
}

.banner {
	height: 400px;
	padding-top: 100px;
	background-position: bottom -170px center;
}



.container {
	font-family: 'Fira Sans', sans-serif;
	color: rgb(204, 197, 185);
	font-size: 160%;
}


@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}



.btn-grey {
	background-color: rgb(255, 252, 242);
	color: rgb(64, 61, 57);
	padding: 10px 8px;
	border-radius: 2px;
	font-style: none;
	font-size: 60%;	
	transition: background 0.3s ease;
	text-decoration: none;
}

.btn-grey:hover {
	background-color: rgb(64, 61, 57);
	color: white;
	opacity: 1;
}




.content {
	display : flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	margin: 50px;
	margin-left: 100px;
	margin-right: 100px;
}



.card-product {
	background-color: white;
	box-shadow: 0,2px;
	text-align: center;
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
}

.card-product:hover {
	background-color: rgb(188, 184, 177);
	opacity: 1;
}

.card-product p {
	font-size: 70%;
	color: rgb(138, 129, 124);
}


.portrait{
  	width: 150px;
 	height: 150px;
 	object-fit: cover;
 	border-radius: 50%;
 }

 .typeform-widget{

 }

.profile{
	display:flex;
	flex-direction: column;
	justify-content: center; 
	align-items: center;
	font-size: 70%;
	color: rgb(138, 129, 124);
}











